<h2 class='stats-table-title'>Activities</h2>

<div class='activities-table'>
  <table class='stats-table-content'>
    <colgroup>
      <col class='col-start' />
      <col class='col-activity' />
      <col class='col-activity-name' />
      <col class='col-duration' />
      <col class='col-starttime' />
      <col class='col-small' />
      <col class='col-small' />
      <col class='col-small' />
      <col class='col-small' />
      <col class='col-med' />
      <col class='col-med' />
      <col class='col-med' />
      <col class='col-med' />
      <col class='col-small' />
      <col class='col-small' />
      <col class='col-small' />
      <col class='col-small' />
      <col class='col-small' />
      <col class='col-device' />
      <col class='col-geo' />
      <col class='col-geo' />
      <col class='col-small' />
    </colgroup>

    <thead>
      <tr>
        <th class='sticky-col start'>Start Time</th>
        <th class='sticky-col activity'>Activity</th>
        <th>Activity Name</th>
        <th>Duration (min)</th>
        <th class='th-nowrap'>Start (full)</th>
        <th>Avg HR</th>
        <th>Max HR</th>
        <th>Avg Speed (m/s)</th>
        <th>Max Speed (m/s)</th>
        <th class='th-wrap'>Avg Pace (min/km)</th>
        <th class='th-wrap'>Max Pace (min/km)</th>
        <th class='th-wrap'>Avg Cadence (steps/min)</th>
        <th class='th-wrap'>Max Cadence (steps/min)</th>
        <th>Active Cal</th>
        <th>Distance (m)</th>
        <th>Steps</th>
        <th>Elev ↑ (m)</th>
        <th>Elev ↓ (m)</th>
        <th>Device Name</th>
        <th class='th-wrap'>Start Lat</th>
        <th class='th-wrap'>Start Lng</th>
        <th>Web Upload</th>
      </tr>
    </thead>

    <tbody>
      {{#each @model as |entry|}}
        <tr>
          <td class='sticky-col start'>
            {{format-time
              entry.startTimeInSeconds
              entry.startTimeOffsetInSeconds
            }}
          </td>
          <td class='sticky-col activity'>{{entry.activityType}}</td>

          <td>{{entry.activityName}}</td>
          <td>{{convert-seconds entry.durationInSeconds}}</td>

          <td>
            {{format-datetime
              entry.startTimeInSeconds
              entry.startTimeOffsetInSeconds
            }}
          </td>

          <td>{{entry.averageHeartRateInBeatsPerMinute}}</td>
          <td>{{entry.maxHeartRateInBeatsPerMinute}}</td>

          <td>{{num1 entry.averageSpeedInMetersPerSecond}}</td>
          <td>{{num1 entry.maxSpeedInMetersPerSecond}}</td>

          <td>{{num1 entry.averagePaceInMinutesPerKilometer}}</td>
          <td>{{num1 entry.maxPaceInMinutesPerKilometer}}</td>

          <td>{{num1 entry.averageRunCadenceInStepsPerMinute}}</td>
          <td>{{num1 entry.maxRunCadenceInStepsPerMinute}}</td>

          <td>{{entry.activeKilocalories}}</td>
          <td>{{num1 entry.distanceInMeters}}</td>
          <td>{{entry.steps}}</td>

          <td>{{num1 entry.totalElevationGainInMeters}}</td>
          <td>{{num1 entry.totalElevationLossInMeters}}</td>

          <td>{{entry.deviceName}}</td>

          <td>{{num1 entry.startingLatitudeInDegree}}</td>
          <td>{{num1 entry.startingLongitudeInDegree}}</td>

          <td>{{if entry.isWebUpload 'Yes' 'No'}}</td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>