<div class='bracelet-form-modal-container' {{on 'click' this.closeModal}}>
  <div class='bracelet-form-modal-content' {{on 'click' this.stopPropagation}}>
    <div class='bracelet-form-modal-title'>Add to Patient List</div>

    <form class='bracelet-form-modal-form' {{on 'submit' this.createBracelet}}>
      <label for='email'>Patient's Name</label>
      <Input type='text' @value={{this.name}} />
      <label for='email'>Bracelet</label>
      <Input type='text' @value={{this.brand}} />
      <label for='email'>API Key</label>
      <Input type='text' @value={{this.apiKey}} />
      <button class='bracelet-form-modal-submit-button' type='submit'>Add
        bracelet</button>
    </form>

    <div
      class='bracelet-form-modal-close-button'
      {{on 'click' this.closeModal}}
    >
      <Icon::X @fillColor='red' />
    </div>
  </div>
</div>