<div class='table-card'>
  <h2 class='stats-table-title'>Sleep Summary</h2>
  <table>
    <tbody>
      <tr>
        <th>Start Time</th>
        <td>
          {{format-datetime
            @model.startTimeInSeconds
            @model.startTimeOffsetInSeconds
          }}
        </td>
      </tr>

      <tr>
        <th>Total Sleep</th>
        <td>{{format-min-hours @model.durationInSeconds}}</td>
      </tr>

      <tr>
        <th>Deep Sleep</th>
        <td>{{format-min-hours @model.deepSleepDurationInSeconds}}</td>
      </tr>

      <tr>
        <th>Light Sleep</th>
        <td>{{format-min-hours @model.lightSleepDurationInSeconds}}</td>
      </tr>

      <tr>
        <th>REM Sleep</th>
        <td>{{format-min-hours @model.remSleepInSeconds}}</td>
      </tr>

      <tr>
        <th>Awake Time</th>
        <td>{{format-min-hours @model.awakeDurationInSeconds}}</td>
      </tr>

      <tr>
        <th>Total Nap Duration</th>
        <td>{{format-min-hours @model.totalNapDurationInSeconds}}</td>
      </tr>

      <tr>
        <th>Total Unmeasurable Time</th>
        <td>{{format-min-hours @model.unmeasurableSleepInSeconds}}</td>
      </tr>

      <tr>
        <th>Overall Sleep Score</th>
        <td>
          {{#if @model.overallSleepScore}}
            {{@model.overallSleepScore.value}}
            ({{@model.overallSleepScore.qualifierKey}})
          {{else}}-{{/if}}
        </td>
      </tr>
    </tbody>
  </table>
</div>