<h2 class='air-title'>Air Pollution</h2>

{{#if this.latitude}}
  <div class='air-info-container'>
    <div class='air-table-wrapper'>
      {{#if this.model}}
        <div class='air-scale-legend'>
          <div class='scale-box aqi-1'>A<br /><small>Good</small></div>
          <div class='scale-box aqi-2'>B<br /><small>Moderate</small></div>
          <div class='scale-box aqi-3'>C<br /><small>Sensitive</small></div>
          <div class='scale-box aqi-4'>D<br /><small>Unhealthy</small></div>
          <div class='scale-box aqi-5'>E<br /><small>Very Unhealthy</small></div>
        </div>

        <table class='air-table'>
          <thead>
            <tr>
              <th>Pollutant</th>
              <th>Value (μg/m³)</th>
              <th>AQI Level</th>
              <th>Indicator</th>
            </tr>
          </thead>
          <tbody>
            {{#each this.pollutants as |p|}}
              <tr>
                <td>{{p.label}}</td>
                <td>{{p.value}}</td>
                <td class='aqi-value aqi-{{p.aqi}}'>{{p.aqiLabel}}</td>
                <td>
                  <div class='air-bar-container'>
                    <div
                      class='air-bar-fill aqi-{{p.aqi}}'
                      style='width: {{p.percent}}%;'
                    ></div>
                  </div>
                </td>
              </tr>
            {{/each}}
          </tbody>
        </table>
      {{else}}
        <p class='air-status'>Loading air quality data...</p>
      {{/if}}
      <p><strong>Latitude:</strong> {{this.latitude}}</p>
      <p><strong>Longitude:</strong> {{this.longitude}}</p>

    </div>
  </div>
{{else}}
  <p class='air-status'>Getting your location...</p>
{{/if}}