<h1 class='dashboard-title'>My Dashboard</h1>

<hr class='horizontal-fade' />

<div class='dashboard-layout'>
  <div class='dashboard-left-menu'>
    <SubmitButton @title='Generate' @onClick={{this.getData}} />

    <label for='date-picker'>Date:</label>
    <Input
      id='date-picker'
      class='select-field'
      @value={{this.selectedDate}}
      @type='date'
      {{on 'change' this.onDateChange}}
    />

    <label for='data-selection'>Type:</label>
    <select
      id='data-selection'
      class='select-field'
      {{on 'change' this.onDataTypeSelect}}
    >
      <option value='stats' selected={{eq this.selectedDataType 'stats'}}>
        Daily Stats
      </option>
      <option
        value='heartRate'
        selected={{eq this.selectedDataType 'heartRate'}}
      >Heart Rate</option>
      <option value='hrv' selected={{eq this.selectedDataType 'hrv'}}>Heart Rate
        Variability</option>
      <option
        value='stress'
        selected={{eq this.selectedDataType 'stress'}}
      >Stress</option>
      <option
        value='bodyBatteryLevel'
        selected={{eq this.selectedDataType 'bodyBatteryLevel'}}
      >Body Battery Level</option>
      <option
        value='spo2'
        selected={{eq this.selectedDataType 'spo2'}}
      >SpO2</option>
      <option
        value='respiration'
        selected={{eq this.selectedDataType 'respiration'}}
      >Respiration</option>
      <option
        value='activities'
        selected={{eq this.selectedDataType 'activities'}}
      >Activities</option>
      <option
        value='epochs'
        selected={{eq this.selectedDataType 'epochs'}}
      >Epochs</option>
      <option
        value='fitnessAge'
        selected={{eq this.selectedDataType 'fitnessAge'}}
      >Fitness Age</option>
    </select>

    {{#if this.shouldShowTimeInterval}}
      <label for='time-interval'>Interval:</label>
      <select
        id='time-interval'
        class='select-field'
        {{on 'change' this.onTimeIntervalInMinutesChange}}
      >
        <option
          value={{60}}
          selected={{eq this.selectedTimeIntervalInMinutes '60'}}
        >Hourly</option>
        <option
          value={{30}}
          selected={{eq this.selectedTimeIntervalInMinutes '30'}}
        >30 mins</option>
        <option
          value={{15}}
          selected={{eq this.selectedTimeIntervalInMinutes '15'}}
        >15 mins</option>
        {{#if this.shouldShowThreeMinInterval}}
          <option
            value={{3}}
            selected={{eq this.selectedTimeIntervalInMinutes '3'}}
          >3 mins</option>
        {{else}}
          <option
            value={{2}}
            selected={{eq this.selectedTimeIntervalInMinutes '2'}}
          >2 mins</option>
        {{/if}}
      </select>
    {{/if}}
  </div>

  <div class='vertical-fade'></div>
  <div class='dashboard-right-content'>
    {{#if this.isDataLoading}}
      <div class='spinner'></div>
    {{else}}
      {{#if this.data}}
        {{#if (eq this.selectedDataType 'stats')}}
          <StatsTable @model={{this.data}} />
        {{else if (eq this.selectedDataType 'fitnessAge')}}
          <FitnessAgeCard @model={{this.data}} />
        {{else if (eq this.selectedDataType 'activities')}}
          <ActivitiesTable @model={{this.data}} />
        {{else if (eq this.selectedDataType 'epochs')}}
          <EpochsTable @model={{this.data}} />
        {{else}}
          <div class='dashboard-chart'>
            <EmberChart @type='line' @data={{this.data}} />
          </div>
        {{/if}}

      {{else}}
        <p class='dashboard-info'>No data available. Click "Generate" to fetch
          it.</p>
      {{/if}}
    {{/if}}
  </div>

</div>