<h1>Patients List</h1>

{{#if this.model.bracelets}}
  <p>Use the buttons below to add or remove patients from your list.</p>

  <div class='bracelet-grid'>
    {{#each this.model.bracelets as |bracelet|}}
      <BraceletCard
        @model={{bracelet}}
        @deleteBracelet={{this.deleteBracelet}}
      />
    {{/each}}
  </div>

{{else}}
  <p>You don't have any patients connected to your account.</p>
  <p>You can add one by pressing the button below!</p>
{{/if}}

<button
  id='openModalBtn'
  class='plus-button'
  {{on 'click' this.openBraceletFormModal}}
>+</button>

{{#if this.isBraceletFormModalOpen}}
  <BraceletFormModal @closeModal={{this.closeBraceletFormModal}} />
{{/if}}