<div class='register-container'>
  <div class='register-title'>Register</div>

  <form class='register-form' {{on 'submit' this.handleRegister}}>
    {{#if this.isDoctor}}
      <label for='name'>Name</label>
      <Input @type='text' @value={{this.model.doctor.name}} />
      <label for='email'>Email</label>
      <Input @type='email' @value={{this.model.doctor.email}} />
      <label for='password'>Password</label>
      <Input @type='password' @value={{this.model.doctor.password}} />
      <label for='key'>Registration Key</label>
      <Input @type='text' @value={{this.model.doctor.registrationKey}} />
    {{else}}
      <label for='name'>Name</label>
      <Input @type='text' @value={{this.model.patient.name}} />
      <label for='email'>Email</label>
      <Input @type='email' @value={{this.model.patient.email}} />
      <label for='password'>Password</label>
      <Input @type='password' @value={{this.model.patient.password}} />
    {{/if}}

    <label class='register-agreement'>
      <Input @type='checkbox' @checked={{this.isPrivacyPolicyAgreed}} />
      <span class='register-agreement-message'>
        I agree to the website's
        <LinkTo @route='privacy-policy' target='_blank'>Privacy Policy</LinkTo>
      </span>
    </label>

    {{#if this.isFormLoading}}
      <div class='spinner'></div>
    {{else}}
      <SubmitButton
        @title='Submit'
        @disabled={{not this.isPrivacyPolicyAgreed}}
      />
    {{/if}}

  </form>
</div>