<div class='register-container'>
  <div class='register-title'>Register</div>

  <form class='register-form' {{on 'submit' this.handleRegister}}>
    <label for='name'>Name</label>
    <Input @type='text' @value={{this.model.name}} />
    <label for='email'>Email</label>
    <Input @type='email' @value={{this.model.email}} />
    <label for='password'>Password</label>
    <Input @type='password' @value={{this.model.password}} />

    {{#if this.isFormLoading}}
      <div class='register-form-spinner'></div>
    {{else}}
      <button class='register-form-submit-button' type='submit'>Submit</button>
    {{/if}}

  </form>
</div>